.globaltitle{ /* Main color/font for important text */
    color: #C44900;
}
.globaltext{  /* Main color/font for text to be used */
    color: #432534 !important;
}
.globalback{ /* Used for background of all pages */
    background-color: #04151F;
    /* background-image: linear-gradient(black, gray); */
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.globalheaderback{ /* Color for header*/
    background-color: #183A37;
}
.globalmainback{ /* Color for card backs*/
    background-color: #EFD6AC !important;
}
.globalsecback{ /* Secondary color for card backs */
    background-color: #EFD6AC !important;
}
.globalicon{ /* Color for icons - so far only arrow on header */
    color: #caeda1;
}
.globalbuttonback:hover{ /* Background/rad used for header button */
    background-color: var(--primary-color); /* See :root colors */
    border-radius: 50px;
}

:root{ /* Needed for mui tags */
    --primary-color: lightgray; /* Icon Color */
    --secondary-color: #d66565; /* Secondary Icon Color */
}